* {
    margin:0; padding:0;
    background: #000000;
} /* to remove the top and left whitespace */

#waiting, #loading {
  text-align: center;
  padding-top: 22%;
  color: #9e9e9e;
  font-size: 60px;
}

html, body {
   width:100%;
   height:100%;
} /* just to be sure these are full screen*/

canvas {
  display:block;
} /* To remove the scrollbars */
